
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>temperature log</title>
</head>
<body style="background-color:#b38600;">


    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Add your temperature</h3>
                
                </div>
                <div class="card-body">
                    <form action="temp" method="POST">
                        {% csrf_token %}
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="type temperature" name="age">
                            
                        </div>
                        
                        <div class="form-group">
                            <input type="submit" class="btn float-right login_btn">
                        </div>
                        <div>
                            {% for message in messages%}
                                <h8> {{message}}</h8>
                            {% endfor%}
                            </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                        first - <a href="logg"> Login</a>
                    </div>
                    <div class="d-flex justify-content-center links">
                        Go to-  <a href="/"> Home</a>
                    </div>
                
                </div>
            </div>
        </div>
    </div>

</body>

</html>